.Categorias{
    margin: 100px 170px;
}

.Categorias hr{
    height: 3px;
    border-radius: 3px;
    background: black;
}

.catego{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.Agregar-cat{
    margin-top: 15%;
}

.añarcat{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.Categorias button{
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    height: 5vh;
}

.Categorias input{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425);
    border: none;
    outline: none;
}