.Pmujer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.tituloM{
    font-size: 19pt;
    font-weight: 700;
    margin-left: -65%;
    margin-bottom: -0.7%
}

.containerM{
    width: 90%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
    border-radius: 1px;
    border: 1px solid black;
    margin-bottom: 3%;
}